<div class="from-group">

        <label for="user name">users name</label>
        <input type="text" class="from-control"[disabled]="!canedit"
         [value]="userobect.username" #pname>
     </div>
    
    
    
<label for="status">status of users</label>
        <select name="" id="" [value]="userobect.status" [disabled]="!canedit" #lname>
            <option value="inprogress">inprogress</option>
            <option value="dicepatch">dicepatch</option>
            <option value="deliver">deliver</option>
           
        </select>

        <button class="btn btn-primary" (click)="onupdat(pname, lname)">update product</button>
